
<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="/" class="link-logo">
            <img class="img-logo" src="/images/logo.svg">
        </a>
    </div>
    <div class="menu">
        <a href="/">Услуги</a>
        </ul>
    </div>
</header>
<main>
    <div class="cards">
        {{range $element := .modelings}}
        <div class="card">
            <img src="{{$element.Image}}" class="img-card">
            <div class="description">
                <h3> {{$element.Name}}</h3>
                <p>
                    {{$element.Description}}
                </p>
            </div>
            <div class="price">
                <p>{{$element.Price}}₽</p>
            </div>
            <div class="card__btns">
                <div class="more">
                    <a href="products/{{$element.ModelingId}}" class="btn-more">Подробнее</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</main>
<footer></footer>
</body>
</html>
